<!-- <div class="container">
    <div class="row">
      <div class="col">
        <img src="../assets/images/photo1.jpeg" alt="">
      </div>
      <div class="col">
        <img src="../assets/images/photo2.jpeg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="../assets/images/photo3.jpeg" alt="">
      </div>
      <div class="col">
        <img src="../assets/images/photo5.jpg" alt="">
      </div>
      <div class="col">
        <img src="../assets/images/photo5.jpg" alt="">
      </div>
    </div>
  </div>
 -->

<div >
  
  <img src="../assets/images/photo10.jfif" alt="">
  <button class="btn btn-danger" (click)="explore()"> Explore</button>
  
 
</div>



